.search-box {
    position: relative;
}

#search-header {
    display: flex;
    width: 300px;
    border-radius: 27px;
    align-items: center;
}

#search-header input {
    border: 1px solid #f4f4f4;
    outline: none;
    width: 100%;
    font-size: 1.3rem;
    padding: 1.1rem;
    border-radius: 27px 0 0 27px;
    background: none;
    height: 50px;
}

#search-header .search-icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 0 27px 27px 0;
}

#search-header .search-icon-box .search-icon {

    font-size: 1.3rem;
    padding: 1.1rem;
    color: #ababab;
    cursor: pointer;

}


.options {
    position: absolute;
    top: 72px;
    left: 0px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
    width: 300px;
    max-height: 300px;
    overflow: auto;
    list-style: none;

}

.options li {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1;
    padding: 1.2rem 0.9rem;

    cursor: pointer;
}

.options li:hover {
    background-color: rgb(244, 244, 244);
}

.options li:focus {
    background-color: rgb(244, 244, 244);
}