@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost:ital@0;1&family=Open+Sans:wght@300&family=Urbanist:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

a {
  color: rgb(35, 35, 35);
  text-decoration: none;
}

nav ul {
  list-style: none;
}

nav ul li {
  text-decoration: none;
}
.flex{
  display: flex;
}
.sidebar {
  max-width: 30%;
  width: 20%;
  height: 100vh;
  border-right: 1px solid #d3d3d3;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.rightbar{
  width: 80%;
  min-width: 70%;
}
.logo {
  display: flex;
  align-items: center;
  padding: 1.2rem 1rem;
  border-bottom: 1px solid #d3d3d3;
}

.logo img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

.logo .brand {
  margin-left: 1rem;
}

.logo .brand span {
  font-weight: 600;
  color: rgb(102 102 102);
  font-size: 1.7rem;
  text-transform: uppercase;
}

.logo .brand p {
  font-size: 1rem;
  color: #007FFF;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navigation{
  padding: 1rem;
}

.navigation h3{
  margin-top: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(96 96 96);

}
.navigation ul{
  margin-top: 1rem;
}
.navigation .nav-item {
  line-height: 2;
}

.navigation .nav-item>a {
  font-size: 1.2rem;
  color: #525252;
  padding: 1rem 1.2rem;
  letter-spacing: 1px;
  transition: .8s all ease-out;
}

.navigation .nav-item:hover {
  background-color: #eaeaea;

}
.navigation .nav-item:hover a {
  color: #007FFF;
}
.content{
  max-width: 900px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.mt-5{
  margin-top: 2rem;
}